<div class="flex flex-col items-center bg-gray-100 p-6 min-h-screen w-full">

  <!-- Заголовок -->
  <h1 class="text-3xl font-bold mb-8 mt-4">Билеты 🎫</h1>

  <!-- Загрузка -->
  <div *ngIf="loading" class="text-gray-500 mb-6 text-lg">
    Загрузка билетов...
  </div>

  <!-- Ошибка -->
  <div *ngIf="error" class="text-red-500 mb-6 text-lg">
    {{ error }}
  </div>

  <!-- Нет билетов -->
  <div *ngIf="!loading && tickets.length === 0 && !error" class="text-gray-600 mb-6 text-lg">
    У вас пока нет билетов
  </div>

 <app-tickets-list
  *ngIf="tickets.length > 0"
  [tickets]="tickets"
  (update)="onUpdateTicket($event)"
  (delete)="onDeleteTicket($event)"
></app-tickets-list>


</div>

