<!-- Список билетов -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 w-full max-w-5xl">
  <div
    *ngFor="let ticket of tickets"
    class="bg-white rounded-2xl shadow-md p-8 flex flex-col justify-between hover:shadow-lg transition-shadow duration-300 min-h-[220px]"
  >
    <!-- Заголовок -->
    <h2 class="text-xl font-semibold mb-4">
      {{ ticket.title }}
    </h2>

    <!-- Описание -->
    <p class="text-gray-700 text-lg mb-4">
      {{ ticket.description }}
    </p>

    <!-- Статус -->
    <p class="text-gray-500 mb-4 text-lg">
      Статус:
      <span
        [ngClass]="{
          'text-green-500': ticket.status === 'OPEN',
          'text-yellow-500': ticket.status === 'IN_PROGRESS',
          'text-red-500': ticket.status === 'CLOSED'
        }"
      >
        {{ ticket.status }}
      </span>
    </p>

    <!-- Дата -->
    <p class="text-gray-400 text-base">
      Обновлено:
      {{ ticket.updatedAt | date: 'dd.MM.yyyy HH:mm' }}
    </p>
  </div>
</div>
