<div class="grid grid-cols-1 sm:grid-cols-2 gap-8 w-full justify-center">
  <div
    *ngFor="let ticket of tickets"
    class="bg-white rounded-2xl shadow-md p-6 flex flex-col justify-between hover:shadow-lg transition-shadow duration-300 min-h-[220px] max-w-[300px] w-full mx-auto"
  >
    <!-- Title -->
    <div *ngIf="editingTicketId !== ticket.id">
      <h2 class="text-xl font-semibold mb-2">
        {{ ticket.title }}
      </h2>
    </div>

    <div *ngIf="editingTicketId === ticket.id">
      <input
        type="text"
        [(ngModel)]="editedTicket.title"
        class="border p-1 w-full rounded mb-1 text-sm"
        placeholder="Название"
      />
    </div>

    <!-- Description -->
    <div *ngIf="editingTicketId !== ticket.id">
      <p class="text-gray-700 mb-2">
        {{ ticket.description }}
      </p>
    </div>

    <div *ngIf="editingTicketId === ticket.id">
      <textarea
        [(ngModel)]="editedTicket.description"
        class="border p-1 w-full rounded mb-1 text-sm"
        rows="1"
        placeholder="Описание"
        (input)="autoResize($event)"
      ></textarea>
    </div>

    <!-- Status -->
    <div *ngIf="editingTicketId !== ticket.id">
      <p class="text-gray-500 mb-2">
        Статус:
        <span
          class="font-medium"
          [ngClass]="{
            'text-green-500': ticket.status === 'OPEN',
            'text-yellow-500': ticket.status === 'IN_PROGRESS',
            'text-red-500': ticket.status === 'CLOSED'
          }"
        >
          {{ ticket.status }}
        </span>
      </p>
    </div>

    <div *ngIf="editingTicketId === ticket.id">
      <select [(ngModel)]="editedTicket.status" class="border p-1 w-full rounded mb-1 text-sm">
        <option value="OPEN">OPEN</option>
        <option value="CLOSED">CLOSED</option>
      </select>
    </div>

    <!-- Logs / Комментарии -->
    <div class="mt-3">
      <h3 class="text-sm font-semibold text-gray-600 mb-2">Комментарий</h3>

      <!-- Режим просмотра -->
      <div *ngIf="editingTicketId !== ticket.id">
        <div *ngIf="ticket.logs?.length; else noLogsView">
          <!-- Светло-серый блок для логов -->
          <div class="bg-gray-100 p-1 rounded mb-2">
            <div *ngFor="let log of ticket.logs" class="text-gray-700 mb-1 break-words text-sm">
              {{ log.message }}
            </div>
          </div>
        </div>
        <ng-template #noLogsView>
          <p class="text-xs text-gray-400 italic mb-2">Комментариев пока нет</p>
        </ng-template>
      </div>

      <!-- Режим редактирования -->
      <div *ngIf="editingTicketId === ticket.id">
        <div *ngIf="editedTicket.logs?.length; else noLogsEdit" class="mb-2">
          <div *ngFor="let log of editedTicket.logs" class="mb-2">
            <textarea
              [(ngModel)]="log.message"
              class="border rounded p-1 w-full text-sm"
              rows="1"
              placeholder="Комментарий"
            ></textarea>
          </div>
        </div>
        <ng-template #noLogsEdit>
          <p class="text-xs text-gray-400 italic mb-2">Комментариев пока нет</p>
        </ng-template>
      </div>
    </div>

    <!-- UpdatedAt -->
    <p class="text-gray-400 text-sm mt-1">
      Обновлено: {{ ticket.updatedAt | date : 'dd.MM.yyyy HH:mm' }}
    </p>

    <!-- Buttons -->
    <div class="mt-4">
      <div class="mx-auto max-w-[260px] w-full">
        <div class="flex justify-around flex-wrap">
          <button
            *ngIf="editingTicketId !== ticket.id"
            class="bg-blue-200 text-blue-800 px-3 py-1 text-sm rounded hover:bg-blue-300 transition cursor-pointer"
            (click)="startEdit(ticket)"
          >
            Редактировать
          </button>

          <button
            *ngIf="editingTicketId === ticket.id"
            class="bg-green-200 text-green-800 px-3 py-1 text-sm rounded hover:bg-green-300 transition cursor-pointer"
            (click)="saveEdit()"
          >
            Сохранить
          </button>

          <button
            *ngIf="editingTicketId === ticket.id"
            class="bg-gray-200 text-gray-800 px-3 py-1 text-sm rounded hover:bg-gray-300 transition cursor-pointer"
            (click)="cancelEdit()"
          >
            Отмена
          </button>

          <button
            class="bg-pink-200 text-pink-800 px-3 py-1 text-sm rounded hover:bg-pink-300 transition cursor-pointer"
            (click)="deleteTicket(ticket.id)"
          >
            Удалить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
